@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial;
}

h3 {
  margin-bottom: 0.75rem;
}

.calendarContainer {
  width: 100%;
  margin: 0 auto;
}

.buttonContainer {
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.createEventButton {
  width: 12rem;
  height: 2rem;
  border: 2px solid black;
  background-color: greenyellow;
  border-radius: 25px;
  font-size: 16px;
}

.modalContainer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.modalBackground {
  position: absolute;
  top: 0;
  z-index: 99;
  opacity: 50%;
  background-color: black;
  width: 100%;
  height: 100%;
}

.modalCreateEvent {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  top: 20rem;
  width: 85vw;
  height: 85vh;
  max-width: 24rem;
  opacity: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 2px solid black;
}

.eventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventInput {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.colorContainer {
  margin: 0 auto;
  margin-top: 1rem;
}

.finalizeEvent {
  width: 12rem;
  height: 2rem;
  border: 2px solid black;
  background-color: greenyellow;
  border-radius: 25px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.emergencyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: 3px red solid;
  width: 8rem;
  height: 8rem;
  background-color: lightcoral;
  color: black;
  font-weight: 800;
  text-decoration: none;
  border-radius: 20rem;
}
