@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial !important;
  background-image: url(../images/backgroundIcon.svg);
  background-size: cover;
  background-repeat: repeat;
  background-color: #eeeeee;

}

h3 {
  margin-bottom: 0.75rem;
}

/* 

-------------------- Job Titles / Roles / Team -------------------- 

*/
.rolesIntro {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.rolesTitle {
  text-align: center;
  color: #2f2f2f;
  margin-right: 50%;
}

.rolesIntroImage {
  width: 2rem;
  filter: invert(32%) sepia(100%) saturate(1176%) hue-rotate(152deg)
    brightness(93%) contrast(94%);
}

.rolesContainer {
  overflow-y: scroll;
  background-color: #eeeeee;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rolesPadding {
  padding: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.rolesContainer::-webkit-scrollbar {
  display: none;
}

.rolesContainer h3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #088f8f;
  border-bottom: 2px solid #088f8f;
}

.rolesList {
  list-style: none;
  padding: 0;
}
.rolesList li {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 1.25rem;
  margin-top: 0.75rem;
}
.rolesList li img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20rem;
  margin-right: 1rem;
}

.roleWrapper {
  width: 85%;
  background-color: white;
  margin: 0 auto;
  margin-top: 1rem;
  color: #2f2f2f;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 15px;
}

.roleUnderName {
  font-size: 0.7em;
  font-weight: 500;
  color: #711324;
}
.addPeopleContainer {
  position: absolute;
  bottom: 13vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.roleAddPeople {
  width: 10rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  background-color: white;
  color: #088f8f;
  border: 2.5px solid #707070;
  border-radius: 15px;
  font-size: 1em;
  font-weight: 700;
}

.modalAddPeople {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  top: 20rem;
  width: 90vw;
  height: 85vh;
  max-height: 600px;
  max-width: 24rem;
  opacity: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 1.25rem;
  border: 2px solid black;
}

.modalAddPeople h2 {
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.modalAddPeople div h3 {
  margin: 0.5rem;
}

.modalAddPeople div h4 {
  margin: 0.5rem;
  margin-top: 1rem;
  color: #3f3f3f;
}
/* 

-------------------- Calendar -------------------- 

*/
.weekRow {
  border-bottom: 2px solid #d1d1d1 !important;
  background-color: white;
}

.calendarHeader {
  border: none !important;
}

.calendarHeaderButtons {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.calendarContainer {
  width: 85vw;
  padding-bottom: 8rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.modeWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  bottom: 18.75vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  z-index: 5;
  margin-bottom: 1.5rem;
}

.modeButton {
  border: gray 2px solid;
  border-radius: 0.5rem;
  width: 8rem;
  font-size: 1em;
  text-align: center;
  height: 2.5rem;
  color: black !important;
  margin: 1rem;
  margin-bottom: 0;
  padding: 0 !important;
}

.modeButtonActive {
  color: white !important;
  background-color: #711324;
  border: none;
}

.modeButton:hover {
  color: white !important;
  background-color: #711324;
  border: none;
}

.modeButton:first-child {
  display: none;
}

.calendarHeader h1 {
  text-align: center;
}

.calendarWrapper {
  margin-bottom: 1.75rem;
}

.calendarDayOfWeek {
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  background-color: white;
}

.dailyTimeLineWrapper {
  background-color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  overflow-x: hidden;
}

.dailyHourTextWrapper {
  padding-left: 0.5rem;
}

.dayCell {
  height: 85px !important;
}

.dayCell .dayDate {
  padding: 0 !important;
}

/* 

-------------------- Create Event Modal -------------------- 

*/

.buttonContainer {
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.createEventButton {
  position: fixed;
  bottom: 13.75vh;
  width: 10rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: white;
  color: #088f8f;
  border: 2.5px solid #707070;
  border-radius: 15px;
  font-size: 1em;
  font-weight: 700;
}

.createPlus {
  font-weight: 800;
}

.modalContainer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.modalBackground {
  position: absolute;
  top: 0;
  z-index: 99;
  opacity: 50%;
  background-color: black;
  width: 100%;
  height: 100%;
}

.modalCreateEvent {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  top: 20rem;
  width: 90vw;
  height: 88vh;
  max-height: 600px;
  max-width: 24rem;
  opacity: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 1.25rem;
}

.eventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventInput {
  width: 70%;
  margin: 0 auto;
  height: 1.65rem;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.colorContainer {
  margin: 0 auto;
}

.finalizeEvent {
  width: 9rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  background-color: #088f8f;
  color: white;
  border-radius: 15px;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 4vh;
  margin-bottom: 1.5rem;
}

.modalCreateEvent div h1 {
  margin: 0;
  margin-top: 1.5rem;
}

.modalCreateEvent div h3 {
  margin: 0.5rem;
}

/* 

-------------------- Navbar -------------------- 

*/
.navbarContainer {
  display: flex;
  justify-content: center;
  width: 90vw;
  position: absolute;
  bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 11vh;
  max-height: 5rem;
  border-radius: 1.25rem;
  background-color: #711324;
}

.link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: calc(100% / 5);
}

.linkContent {
  width: 50%;
  max-width: 3rem;
}

.navPageSize {
  max-height: 13vh;
  display: flex;
  align-items: center;
}



/* 

-------------------- Forside -------------------- 

*/

.logoNav{
  display: block;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  background-image:none;

}
.logoContent{
  width: 20%;
  
}



/* MISC */

.pageWrapper {
  max-height: 87vh;
  overflow-y: scroll;
}

.emergencyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: 3px red solid;
  width: 8rem;
  height: 8rem;
  background-color: lightcoral;
  color: black;
  font-weight: 800;
  text-decoration: none;
  border-radius: 20rem;
}

/* CHAT STYLES */

.ce-chat-list {
  background-color: #E8E8E8 !important;
}

.ce-chats-container {
  background-color: #E8E8E8 !important;
}

.ce-active-chat-card {
  background-color: #088F8F !important;
  border: 1px solid #1a1a1a !important;
  border-radius: 0px !important;
}

.ce-chat-title-text {
  color: #E8E8E8 !important;
}

.ce-chat-subtitle-text {
  color: #E8E8E8 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #1a1a1a !important;
}

.ce-primary-button {
  border-radius: 10px !important;
  background-color: #088F8F !important;
  position: relative;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: #E8E8E8 !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 25px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #E8E8E8;
}

.chat-title-container {
  width: 100%;
  padding: 25px;
  background-color: #711324;
  margin-bottom: 15px;
  text-align: center;
}

.chat-title {
  color: #E8E8E8;
  font-weight: 700;
  font-size: 26px;
}

.chat-subtitle {
  color: #E8E8E8;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: #E8E8E8;;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 13px;
  font-size: 18px;
  border-radius: 8px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  bottom: 0px;
  width: 100%;
  padding: 25px;
  background-color: #711324;
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
}

.send-button {
  height: 38px;
  color: #E8E8E8;
  background-color: #088f8f;
  border: 1px solid white;
  border-radius: 25px;
  padding: 0px 18px;
  margin-left: 25px;
  margin-bottom: 2px;
  cursor: pointer;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.error {
  color: white;
  text-align: center;
  margin-top: 20px;
}
